/* import unocss by postcss */
@unocss;

html,
body,
#app {
  margin: 0;
  padding: 0;
}

:root {
  /* https://developer.chrome.com/docs/extensions/reference/api/action#popup */
  --popup-max-width: 800px;
  --popup-max-height: 600px;
  --popup-min-width: 25px;
  --popup-min-height: 25px;
}